.container {
    padding: 0 2rem;
  }
  .navbar{
    height: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .main {
    min-height: calc(100vh - 60px);
  }
  .footer {
  
  }
  